.list-tools {
    padding: 20px;
    margin-bottom: 50px;
    background: rgb(249, 248, 248);
    border: 1px solid #ccc;
}
.list-footer {
    font-size: 14px;

}

.refresh-button{
    background-color: green;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
    padding: 10px 20px ;
    color: white;
}